<form th:action="@{/saveEvent}" th:object="${event}" method="post">
    <div="form-row">
        <div>
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{game}">
            <input type="hidden" th:field="*{eventTime}">
        </div>
        <h1>Add Event</h1>
        <br>
        <div>
            <label>Event: </label>
            <select th:field="*{content}" id="contentString">
                <option value="Goal">Goal</option>
                <option value="Yellow card">Yellow card</option>
                <option value="Red card">Red card</option>
            </select>
        </div>
        <br>
        
        <div>
            <label>Player: </label>
            <select th:field="*{playerEvent}" id="playerEvent">
                <option value="" selected disabled hidden>Choose here</option>
                <option th:each="p : ${players}"
                    th:value="${{p}}"
                    th:text="${p.name}">
                </option>
            </select>
            <br>
        </div>


        <button type="submit">Add Event</button>
    </div>
</form>