<form th:action="@{/saveTeam}" th:object="${team}" method="post">
    <div="form-row">
        <div>
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{numberWins}">
            <input type="hidden" th:field="*{numberLoses}">
            <input type="hidden" th:field="*{numberDraws}">

        </div>
        <h1>Add Team</h1>
        <br>

        <div>
            <label>Team Name: </label>
            <input type="text" th:field="*{name}" required>
        </div>

        <div>
            <input type="text" th:field="*{imagePath}" placeholder="Insert URL of team logo (not required)">
        </div>

        <br>
        <button type="submit">Add Team</button>
    </div>
</form>