<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Homepage</title>
        <link rel="icon" type="image/png" th:href="@{https://cdn.discordapp.com/attachments/905910017805414420/980970760292167720/path1453.png}"/>
        <meta charset="utf8"/>
    </head>
    <body>    
        <img th:src="@{https://cdn.discordapp.com/attachments/905910017805414420/980975588451950662/g15211.png}" width="319" height="100"/>    
        <br>
        <h1>Home</h1>
        
        <br>
        <div sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">Username</span></b>
            <br>
            <br>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{login}">
                <button>Login</button>
            </a>
            <br>
        </div>
        
        
        <!--Admin functionalities-->
        <div sec:authorize="hasAnyAuthority('ADMIN')">
            <a th:href="@{addUser}">Create User</a><br>
            <a th:href="@{addTeam}">Create Team</a><br>
            <a th:href="@{addPlayer}">Create Player</a><br>
            <a th:href="@{addGame}">Create Game</a><br>
            <a th:href="@{getData}">Get Data</a><br>
        </div>
        

        <h2>Games</h2>

        <table border="1">
            <tr>
                <th>Game</th>
                <th>Date</th>
                <th>Current result</th>
            </tr>
            <tr th:each="game : ${games}">
                
                <td><a th:href="@{gameInfo(id=${game.id})}"><text th:text="${game.teams[0].name}">name</text><text> vs </text><text th:text="${game.teams[1].name}">name</text></a></td>
                <td th:text="${game.getDateFormat()}">date</td>
                <td><text th:text="${game.goalsTeam1}">team1goals</text> <text> - </text> <text th:text="${game.goalsTeam2}">team1goals</text></td>
                
            </tr>
        </table>

        <br>
        <h2><a th:href="@{stats}">Stats</a></h2>

        <div sec:authorize="isAuthenticated()">
            <br>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        </div>

    </body>
</html>