<!DOCTYPE html>
<html>
    <head>
        <title>Stats</title>
        <meta charset="utf8"/>
    </head>
    <body>
        <h1>Stats</h1>
        <br>

        <h3>Games</h3>
        <table border="1">
            <tr>
                <th>Team Name</th>
                <th>Number of games</th>
                <th>Name of the player with more goals</th>
            </tr>
            <tr th:each="team : ${teamsGames}">
                
                <td><text th:text="${team.name}">name</text></td>
                <td><text th:text="${team.numberWins + team.numberLoses + team.numberDraws}">nGames</text></td>
            </tr>
        </table>

        <br>
        <h2>Wins</h2>
        <table border="1">
            <tr>
                <th>Team Name</th>
                <th>Number of wins</th>
            </tr>
            <tr th:each="team : ${teamsWins}">
                <td><text th:text="${team.name}">name</text></td>
                <td><text th:text="${team.numberWins}">nWins</text></td>
                
            </tr>
        </table>

        <br>
        <h2>Draws</h2>
        <table border="1">
            <tr>
                <th>Team Name</th>
                <th>Number of Draws</th>
            </tr>
            <tr th:each="team : ${teamsDraws}">
                <td><text th:text="${team.name}">name</text></td>
                <td><text th:text="${team.numberDraws}">nDraws</text></td>
                
            </tr>
        </table>

        <br>
        <h2>Loses</h2>
        <table border="1">
            <tr>
                <th>Team Name</th>
                <th>Number of losses</th>
            </tr>
            <tr th:each="team : ${teamsLoses}">
                <td><text th:text="${team.name}">name</text></td>
                <td><text th:text="${team.numberLoses}">nLoses</text></td>
                
            </tr>
        </table>

    </body>
</html>