<!DOCTYPE html>
<html>
    <head>
        <title>Stats</title>
        <meta charset="utf8"/>
    </head>
    <body>
        <h1>Stats</h1>
        <br>

        <!--<table border="1">
            <tr>
                <th>Team Name</th>
                <th>Number of games</th>
                <th>Number of wins</th>
                <th>Number of losses</th>
                <th>Number of ties</th>
                <th>Name of the player with more goals</th>
            </tr>
            <tr th:each="team : ${teams}">
                
                <td><text th:text="${team.name}">name</text></td>
                <td><text th:text="${team.}">name</text></td>
                <td><text th:text="${team.name}">name</text></td>
                
            </tr>
        </table>-->
        <text>RESULT: </text>
        <text th:text="${result}">result</text>

    </body>
</html>